# =========================
# Angular / Frontend
# =========================
node_modules/
dist/
.angular/
coverage/
*.log

# =========================
# .NET / Backend
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Visual Studio
# =========================
.vs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment files
# =========================
.env

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store